/events_clip.py
/rally_activity_log.csv
/rally_analysis_annotated.mp4
/rally_analysis_log.csv
/rally_event_annotated.mp4
/rally_event_log.csv
/Ralph1.-8.091613814046736,41.52594138988471.1741337616.r.mp4
/road
/startline.mp4
/test.py
/vid_759.mp4
/vid_772.mp4
/vid_772_annotated.mp4
rally_activity_log_dense_sample.csv
rally_activity_log_merged.csv
sample.json
Export  project - YOLO incorrect predicted videos 24.6.2025 - 7_15_2025.ndjson
Metadata
data
videos
car_state.csv
t.py
detect_offroad_videos.py
car_state copy.csv
crash_data
car_crash_data.csv
crashes
crip_crash_results.zip
spin_data
car_spin_data.csv
car_crash_data copy.csv
*.csv
*.mp4
*.mov
*.png
*.npy
jump_data
jumps
logistic_crash_model.pkl